@keyframes animation-heartbeat
{
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.word {
  position: absolute;
  left: 172px;
  top: 98px;
  border: 3px solid yellow;

  width: 661px;
  height: 325px;
  background-color: #444;

  color: #eee;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  > span {
    display: inline-block;

    &.active {
      animation-timing-function: linear;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: animation-heartbeat;
      // animation-fill-mode: forwards;
    }
  }
}

div.board {
  position: relative;
  width: 1024px;
  height: 768px;
  background-color: darkslateblue;
  overflow: hidden;

  font-family: 'Liberation Mono', monospace;
  font-size: 80px;

  > button {
    cursor: pointer;
    position: absolute;
    font: inherit;
    height: 140px;
    width: 140px;
    border-radius: 70px;

    &:nth-of-type(5n+1) {
      left: 166px;
      top: 415px;
    }
    &:nth-of-type(5n+2) {
      left: 692px;
      top: 415px;
    }
    &:nth-of-type(5n+3) {
      left: 295px;
      top: 480px;
    }
    &:nth-of-type(5n+4) {
      left: 564px;
      top: 480px;
    }
    &:nth-of-type(5n) {
      left: 429px;
      top: 525px;
    }
  }

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('./assets/board.svg');
}
