div.letter-box {
  position: relative;
  display: inline-block;

  > span.letter-box-wrong-answer::after {
    color: red;
    content: "/";
    position: absolute;
    left:0.01rem;
    top:0.05rem;
  }
  > span.letter-box-right-answer {
    color:red;
    position: absolute;
    left: 0;
    top: -1rem;
  }
  > span.letter-box-stick-answer {
    color:red;
    position: absolute;
    left: -0.45rem;
    top: -2.3rem;

    &::after {
      color: red;
      content: ">";
      position: absolute;
      left: -0.1rem;
      top: 0.55rem;
      transform: rotateZ(90deg);
    }
  }
}
