$x: 32px;

div.letter-box {
  position: relative;
  display: inline-block;

  > span.letter-box-wrong-answer::after {
    color: red;
    content: "/";
    position: absolute;
    left: 0;
    top: 0.1 * $x;
  }
  > span.letter-box-right-answer {
    color:red;
    position: absolute;
    left: 0;
    top: -0.8 * $x;
  }
  > span.letter-box-stick-answer {
    color:red;
    position: absolute;
    left: -0.3 * $x;
    top: -1.95 * $x;

    &::after {
      color: red;
      // content: ">";
      content: "∨";
      position: absolute;
      top: 0.5 * $x;
      left: 0;
      // left: -0.05 * $x;
      // transform: rotateZ(90deg);
    }
  }
}
